<h1>A Look Into The NYT College COVID-19 Cases Data</h1>

In [13]:
import pandas as pd
colleges_df = pd.read_csv('../data/colleges.csv')

In [14]:
colleges_df.shape

(1773, 8)

Already we can see that this initial dataframe is very large, but the New York Times has also said that this is not a complete dataset. There are probably more colleges and cases that is not listed here, especially since the pandemic is still going on, so the case numbers are constantly changes.

In [15]:
colleges_df['state'].unique()

array(['Alabama', 'Alaska', 'American Samoa', 'Arizona', 'Arkansas',
       'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida',
       'Georgia', 'Guam', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine',
       'Marshall Islands', 'Maryland', 'Massachusetts', 'Michigan',
       'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska',
       'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Northern Mariana Islands',
       'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Puerto Rico',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virgin Islands', 'Virginia',
       'Washington, D.C.', 'Washington', 'West Virginia', 'Wisconsin',
       'Wyoming'], dtype=object)

If we sort the data by state, we see that U.S. territories have been put in consideration, as well as the 50 states of the U.S.

In [16]:
colleges_df['state'].value_counts()

New York                    155
Pennsylvania                117
Florida                      96
California                   88
Texas                        85
Ohio                         71
Tennessee                    69
Minnesota                    63
Massachusetts                61
Illinois                     52
Kentucky                     52
North Carolina               52
Michigan                     49
Washington                   46
Indiana                      43
Georgia                      42
Virginia                     41
Missouri                     37
Wisconsin                    32
Alabama                      32
South Carolina               29
Iowa                         28
Colorado                     27
New Jersey                   26
Oklahoma                     24
Arkansas                     24
Kansas                       24
Maryland                     22
West Virginia                21
Louisiana                    21
Connecticut                  21
Oregon                       18
New Hampshire                15
Mississippi                  15
Maine                        15
North Dakota                 14
Montana                      13
Nebraska                     13
New Mexico                   12
Vermont                      11
South Dakota                 11
Utah                         10
Hawaii                        9
Rhode Island                  9
Idaho                         9
Arizona                       9
Delaware                      8
Washington, D.C.              8
Nevada                        7
Wyoming                       4
Puerto Rico                   4
Alaska                        4
American Samoa                1
Northern Mariana Islands      1
Virgin Islands                1
Guam                          1
Marshall Islands              1
Name: state, dtype: int64

It looks like New York and Pennsylvania are the two states with the most colleges, and misc U.S. territories have the least..

In [17]:
colleges_df.groupby('state')['cases'].sum().sort_values()

state
American Samoa                  0.0
Marshall Islands                0.0
Northern Mariana Islands        0.0
Virgin Islands                  3.0
Guam                            9.0
Puerto Rico                    11.0
Hawaii                         41.0
Vermont                        91.0
Alaska                        105.0
Maine                         120.0
New Hampshire                 418.0
New Mexico                    465.0
Washington, D.C.              529.0
Delaware                      646.0
South Dakota                  762.0
Oregon                        971.0
Rhode Island                 1000.0
Montana                      1155.0
Wyoming                      1213.0
West Virginia                1247.0
Nevada                       1280.0
Massachusetts                1901.0
Idaho                        1975.0
New Jersey                   2042.0
Connecticut                  2171.0
Maryland                     2671.0
North Dakota                 2889.0
Washington                   2896.0
Mississippi                  2975.0
Nebraska                     3236.0
Kansas                       3596.0
Minnesota                    3793.0
Colorado                     3937.0
Oklahoma                     3975.0
Louisiana                    4493.0
California                   5224.0
Arkansas                     5236.0
Iowa                         5522.0
Arizona                      5690.0
Utah                         6239.0
Kentucky                     6685.0
New York                     7695.0
Virginia                     7830.0
Tennessee                    7862.0
Missouri                     8319.0
Michigan                     8733.0
Illinois                     9263.0
Indiana                      9736.0
Alabama                      9858.0
South Carolina               9974.0
Wisconsin                   10054.0
North Carolina              10296.0
Pennsylvania                10817.0
Georgia                     11406.0
Ohio                        12171.0
Florida                     13650.0
Texas                       20036.0
Name: cases, dtype: float64

Surprisingly, even though NY and PA have more colleges, it seem that cases among the college population are highest in Texas and Florida. Texas is the only state so far with college COVID-19 cases over 20,000.

In [18]:
colleges_df.groupby('state')['cases'].mean().sort_values()

state
Northern Mariana Islands      0.000000
Marshall Islands              0.000000
American Samoa                0.000000
Virgin Islands                3.000000
Hawaii                        5.125000
Maine                         8.000000
Vermont                       8.272727
Guam                          9.000000
Puerto Rico                  11.000000
New Hampshire                27.866667
Massachusetts                32.220339
Alaska                       35.000000
New Mexico                   38.750000
New York                     49.645161
Oregon                       60.687500
West Virginia                62.350000
Washington                   62.956522
California                   63.707317
Minnesota                    64.288136
Washington, D.C.             66.125000
South Dakota                 76.200000
New Jersey                   81.680000
Delaware                     92.285714
Pennsylvania                 95.725664
Connecticut                 103.380952
Montana                     105.000000
Rhode Island                111.111111
Tennessee                   119.121212
Maryland                    127.190476
Kentucky                    128.557692
Colorado                    151.423077
Florida                     151.666667
Kansas                      156.347826
Ohio                        181.656716
Michigan                    181.937500
Nevada                      182.857143
Illinois                    185.260000
Oklahoma                    189.285714
Virginia                    190.975610
Mississippi                 198.333333
Iowa                        204.518519
North Carolina              205.920000
Arkansas                    218.166667
Idaho                       219.444444
Missouri                    224.837838
Louisiana                   236.473684
North Dakota                240.750000
Texas                       241.397590
Nebraska                    248.923077
Georgia                     292.461538
Indiana                     295.030303
Wyoming                     303.250000
Wisconsin                   314.187500
Alabama                     352.071429
South Carolina              356.214286
Utah                        623.900000
Arizona                     711.250000
Name: cases, dtype: float64

When we take the average of cases among colleges within states, we are surprised again as there are new states with really high averages, instead of states we have seen before. So far, UT and AZ have the highest average amount of cases, around 600 and 700. No other state yet has broken 400 average cases among the college population.